@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-7cTRvTtfyu_e_font-family: "Roboto", sans-serif;
  --mixin-7cTRvTtfyu_e_font-size: 16px;
  --mixin-7cTRvTtfyu_e_font-weight: 400;
  --mixin-7cTRvTtfyu_e_font-style: normal;
  --mixin-7cTRvTtfyu_e_color: #535353;
  --mixin-7cTRvTtfyu_e_text-align: left;
  --mixin-7cTRvTtfyu_e_text-transform: none;
  --mixin-7cTRvTtfyu_e_line-height: 1.5;
  --mixin-7cTRvTtfyu_e_letter-spacing: normal;
  --mixin-7cTRvTtfyu_e_white-space: pre-wrap;
  --mixin-7cTRvTtfyu_e_user-select: text;
  --mixin-7cTRvTtfyu_e_text-decoration-line: none;
  --mixin-7cTRvTtfyu_e_text-overflow: clip;
  --mixin-5-9EWtz9oOUe_font-family: "Inter", sans-serif;
  --mixin-5-9EWtz9oOUe_color: #000000;
  --mixin-5-9EWtz9oOUe_font-size: 72px;
  --mixin-5-9EWtz9oOUe_font-weight: 900;
  --mixin-5-9EWtz9oOUe_letter-spacing: -4px;
  --mixin-5-9EWtz9oOUe_line-height: 1;
  --mixin-5-9EWtz9oOUe_white-space: pre-wrap;
  --mixin-E6hSgmDVnizF_font-family: "Inter", sans-serif;
  --mixin-E6hSgmDVnizF_color: #000000;
  --mixin-E6hSgmDVnizF_font-size: 48px;
  --mixin-E6hSgmDVnizF_font-weight: 700;
  --mixin-E6hSgmDVnizF_letter-spacing: -1px;
  --mixin-E6hSgmDVnizF_line-height: 1.1;
  --mixin-E6hSgmDVnizF_white-space: pre-wrap;
  --mixin-IQYJR0QpD16j_font-family: "Inter", sans-serif;
  --mixin-IQYJR0QpD16j_color: #000000;
  --mixin-IQYJR0QpD16j_font-size: 32px;
  --mixin-IQYJR0QpD16j_font-weight: 600;
  --mixin-IQYJR0QpD16j_letter-spacing: -0.8px;
  --mixin-IQYJR0QpD16j_line-height: 1.2;
  --mixin-IQYJR0QpD16j_white-space: pre-wrap;
  --mixin-ywuAl0dIGfd2_font-family: "Inter", sans-serif;
  --mixin-ywuAl0dIGfd2_color: #000000;
  --mixin-ywuAl0dIGfd2_font-size: 24px;
  --mixin-ywuAl0dIGfd2_font-weight: 600;
  --mixin-ywuAl0dIGfd2_letter-spacing: -0.5px;
  --mixin-ywuAl0dIGfd2_line-height: 1.3;
  --mixin-ywuAl0dIGfd2_white-space: pre-wrap;
  --mixin-dVGC05qFMaKV_font-family: "Inter", sans-serif;
  --mixin-dVGC05qFMaKV_color: #000000;
  --mixin-dVGC05qFMaKV_font-size: 20px;
  --mixin-dVGC05qFMaKV_font-weight: 600;
  --mixin-dVGC05qFMaKV_letter-spacing: -0.3px;
  --mixin-dVGC05qFMaKV_line-height: 1.5;
  --mixin-dVGC05qFMaKV_white-space: pre-wrap;
  --mixin-eaav9IQRzuig_font-family: "Inter", sans-serif;
  --mixin-eaav9IQRzuig_color: #000000;
  --mixin-eaav9IQRzuig_font-size: 16px;
  --mixin-eaav9IQRzuig_font-weight: 600;
  --mixin-eaav9IQRzuig_line-height: 1.5;
  --mixin-eaav9IQRzuig_white-space: pre-wrap;
  --mixin-FfP7dJvHrKma_color: #0070f3;
  --mixin-FfP7dJvHrKma_white-space: pre-wrap;
  --mixin-2tLaWPJaWbxU_color: #3291ff;
  --mixin-2tLaWPJaWbxU_white-space: pre-wrap;
  --mixin-cr2IPKjrd2h3_border-left-color: #dddddd;
  --mixin-cr2IPKjrd2h3_border-left-style: solid;
  --mixin-cr2IPKjrd2h3_border-left-width: 3px;
  --mixin-cr2IPKjrd2h3_color: #888888;
  --mixin-cr2IPKjrd2h3_padding-left: 10px;
  --mixin-cr2IPKjrd2h3_white-space: pre-wrap;
  --mixin-RvFakraPPpy__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RvFakraPPpy__border-bottom-color: #dddddd;
  --mixin-RvFakraPPpy__border-bottom-style: solid;
  --mixin-RvFakraPPpy__border-bottom-width: 1px;
  --mixin-RvFakraPPpy__border-left-color: #dddddd;
  --mixin-RvFakraPPpy__border-left-style: solid;
  --mixin-RvFakraPPpy__border-left-width: 1px;
  --mixin-RvFakraPPpy__border-right-color: #dddddd;
  --mixin-RvFakraPPpy__border-right-style: solid;
  --mixin-RvFakraPPpy__border-right-width: 1px;
  --mixin-RvFakraPPpy__border-top-color: #dddddd;
  --mixin-RvFakraPPpy__border-top-style: solid;
  --mixin-RvFakraPPpy__border-top-width: 1px;
  --mixin-RvFakraPPpy__border-bottom-left-radius: 3px;
  --mixin-RvFakraPPpy__border-bottom-right-radius: 3px;
  --mixin-RvFakraPPpy__border-top-left-radius: 3px;
  --mixin-RvFakraPPpy__border-top-right-radius: 3px;
  --mixin-RvFakraPPpy__font-family: "Inconsolata";
  --mixin-RvFakraPPpy__padding-bottom: 1px;
  --mixin-RvFakraPPpy__padding-left: 4px;
  --mixin-RvFakraPPpy__padding-right: 4px;
  --mixin-RvFakraPPpy__padding-top: 1px;
  --mixin-RvFakraPPpy__white-space: pre-wrap;
  --mixin-MDVw4YGIK7zK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MDVw4YGIK7zK_border-bottom-color: #dddddd;
  --mixin-MDVw4YGIK7zK_border-bottom-style: solid;
  --mixin-MDVw4YGIK7zK_border-bottom-width: 1px;
  --mixin-MDVw4YGIK7zK_border-left-color: #dddddd;
  --mixin-MDVw4YGIK7zK_border-left-style: solid;
  --mixin-MDVw4YGIK7zK_border-left-width: 1px;
  --mixin-MDVw4YGIK7zK_border-right-color: #dddddd;
  --mixin-MDVw4YGIK7zK_border-right-style: solid;
  --mixin-MDVw4YGIK7zK_border-right-width: 1px;
  --mixin-MDVw4YGIK7zK_border-top-color: #dddddd;
  --mixin-MDVw4YGIK7zK_border-top-style: solid;
  --mixin-MDVw4YGIK7zK_border-top-width: 1px;
  --mixin-MDVw4YGIK7zK_border-bottom-left-radius: 3px;
  --mixin-MDVw4YGIK7zK_border-bottom-right-radius: 3px;
  --mixin-MDVw4YGIK7zK_border-top-left-radius: 3px;
  --mixin-MDVw4YGIK7zK_border-top-right-radius: 3px;
  --mixin-MDVw4YGIK7zK_font-family: "Inconsolata";
  --mixin-MDVw4YGIK7zK_padding-bottom: 3px;
  --mixin-MDVw4YGIK7zK_padding-left: 6px;
  --mixin-MDVw4YGIK7zK_padding-right: 6px;
  --mixin-MDVw4YGIK7zK_padding-top: 3px;
  --mixin-MDVw4YGIK7zK_white-space: pre-wrap;
  --mixin-GulBt9om7Upr_display: flex;
  --mixin-GulBt9om7Upr_flex-direction: column;
  --mixin-GulBt9om7Upr_align-items: stretch;
  --mixin-GulBt9om7Upr_justify-content: flex-start;
  --mixin-GulBt9om7Upr_list-style-position: outside;
  --mixin-GulBt9om7Upr_padding-left: 40px;
  --mixin-GulBt9om7Upr_position: relative;
  --mixin-GulBt9om7Upr_list-style-type: decimal;
  --mixin-GulBt9om7Upr_white-space: pre-wrap;
  --mixin-GohycE6YXx3z_display: flex;
  --mixin-GohycE6YXx3z_flex-direction: column;
  --mixin-GohycE6YXx3z_align-items: stretch;
  --mixin-GohycE6YXx3z_justify-content: flex-start;
  --mixin-GohycE6YXx3z_list-style-position: outside;
  --mixin-GohycE6YXx3z_padding-left: 40px;
  --mixin-GohycE6YXx3z_position: relative;
  --mixin-GohycE6YXx3z_list-style-type: disc;
  --mixin-GohycE6YXx3z_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-7cTRvTtfyu_e_font-family);
  font-size: var(--mixin-7cTRvTtfyu_e_font-size);
  font-weight: var(--mixin-7cTRvTtfyu_e_font-weight);
  font-style: var(--mixin-7cTRvTtfyu_e_font-style);
  color: var(--mixin-7cTRvTtfyu_e_color);
  text-align: var(--mixin-7cTRvTtfyu_e_text-align);
  text-transform: var(--mixin-7cTRvTtfyu_e_text-transform);
  line-height: var(--mixin-7cTRvTtfyu_e_line-height);
  letter-spacing: var(--mixin-7cTRvTtfyu_e_letter-spacing);
  white-space: var(--mixin-7cTRvTtfyu_e_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-5-9EWtz9oOUe_font-family);
  color: var(--mixin-5-9EWtz9oOUe_color);
  font-size: var(--mixin-5-9EWtz9oOUe_font-size);
  font-weight: var(--mixin-5-9EWtz9oOUe_font-weight);
  letter-spacing: var(--mixin-5-9EWtz9oOUe_letter-spacing);
  line-height: var(--mixin-5-9EWtz9oOUe_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-E6hSgmDVnizF_font-family);
  color: var(--mixin-E6hSgmDVnizF_color);
  font-size: var(--mixin-E6hSgmDVnizF_font-size);
  font-weight: var(--mixin-E6hSgmDVnizF_font-weight);
  letter-spacing: var(--mixin-E6hSgmDVnizF_letter-spacing);
  line-height: var(--mixin-E6hSgmDVnizF_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-IQYJR0QpD16j_font-family);
  color: var(--mixin-IQYJR0QpD16j_color);
  font-size: var(--mixin-IQYJR0QpD16j_font-size);
  font-weight: var(--mixin-IQYJR0QpD16j_font-weight);
  letter-spacing: var(--mixin-IQYJR0QpD16j_letter-spacing);
  line-height: var(--mixin-IQYJR0QpD16j_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-ywuAl0dIGfd2_font-family);
  color: var(--mixin-ywuAl0dIGfd2_color);
  font-size: var(--mixin-ywuAl0dIGfd2_font-size);
  font-weight: var(--mixin-ywuAl0dIGfd2_font-weight);
  letter-spacing: var(--mixin-ywuAl0dIGfd2_letter-spacing);
  line-height: var(--mixin-ywuAl0dIGfd2_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-dVGC05qFMaKV_font-family);
  color: var(--mixin-dVGC05qFMaKV_color);
  font-size: var(--mixin-dVGC05qFMaKV_font-size);
  font-weight: var(--mixin-dVGC05qFMaKV_font-weight);
  letter-spacing: var(--mixin-dVGC05qFMaKV_letter-spacing);
  line-height: var(--mixin-dVGC05qFMaKV_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-eaav9IQRzuig_font-family);
  color: var(--mixin-eaav9IQRzuig_color);
  font-size: var(--mixin-eaav9IQRzuig_font-size);
  font-weight: var(--mixin-eaav9IQRzuig_font-weight);
  line-height: var(--mixin-eaav9IQRzuig_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-FfP7dJvHrKma_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-2tLaWPJaWbxU_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-cr2IPKjrd2h3_color);
  padding-left: var(--mixin-cr2IPKjrd2h3_padding-left);
  border-left: var(--mixin-cr2IPKjrd2h3_border-left-width)
    var(--mixin-cr2IPKjrd2h3_border-left-style)
    var(--mixin-cr2IPKjrd2h3_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RvFakraPPpy__font-family);
  border-radius: var(--mixin-RvFakraPPpy__border-top-left-radius)
    var(--mixin-RvFakraPPpy__border-top-right-radius)
    var(--mixin-RvFakraPPpy__border-bottom-right-radius)
    var(--mixin-RvFakraPPpy__border-bottom-left-radius);
  padding: var(--mixin-RvFakraPPpy__padding-top)
    var(--mixin-RvFakraPPpy__padding-right)
    var(--mixin-RvFakraPPpy__padding-bottom)
    var(--mixin-RvFakraPPpy__padding-left);
  border-top: var(--mixin-RvFakraPPpy__border-top-width)
    var(--mixin-RvFakraPPpy__border-top-style)
    var(--mixin-RvFakraPPpy__border-top-color);
  border-right: var(--mixin-RvFakraPPpy__border-right-width)
    var(--mixin-RvFakraPPpy__border-right-style)
    var(--mixin-RvFakraPPpy__border-right-color);
  border-bottom: var(--mixin-RvFakraPPpy__border-bottom-width)
    var(--mixin-RvFakraPPpy__border-bottom-style)
    var(--mixin-RvFakraPPpy__border-bottom-color);
  border-left: var(--mixin-RvFakraPPpy__border-left-width)
    var(--mixin-RvFakraPPpy__border-left-style)
    var(--mixin-RvFakraPPpy__border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-MDVw4YGIK7zK_font-family);
  border-radius: var(--mixin-MDVw4YGIK7zK_border-top-left-radius)
    var(--mixin-MDVw4YGIK7zK_border-top-right-radius)
    var(--mixin-MDVw4YGIK7zK_border-bottom-right-radius)
    var(--mixin-MDVw4YGIK7zK_border-bottom-left-radius);
  padding: var(--mixin-MDVw4YGIK7zK_padding-top)
    var(--mixin-MDVw4YGIK7zK_padding-right)
    var(--mixin-MDVw4YGIK7zK_padding-bottom)
    var(--mixin-MDVw4YGIK7zK_padding-left);
  border-top: var(--mixin-MDVw4YGIK7zK_border-top-width)
    var(--mixin-MDVw4YGIK7zK_border-top-style)
    var(--mixin-MDVw4YGIK7zK_border-top-color);
  border-right: var(--mixin-MDVw4YGIK7zK_border-right-width)
    var(--mixin-MDVw4YGIK7zK_border-right-style)
    var(--mixin-MDVw4YGIK7zK_border-right-color);
  border-bottom: var(--mixin-MDVw4YGIK7zK_border-bottom-width)
    var(--mixin-MDVw4YGIK7zK_border-bottom-style)
    var(--mixin-MDVw4YGIK7zK_border-bottom-color);
  border-left: var(--mixin-MDVw4YGIK7zK_border-left-width)
    var(--mixin-MDVw4YGIK7zK_border-left-style)
    var(--mixin-MDVw4YGIK7zK_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-GulBt9om7Upr_display);
  flex-direction: var(--mixin-GulBt9om7Upr_flex-direction);
  align-items: var(--mixin-GulBt9om7Upr_align-items);
  justify-content: var(--mixin-GulBt9om7Upr_justify-content);
  list-style-position: var(--mixin-GulBt9om7Upr_list-style-position);
  padding-left: var(--mixin-GulBt9om7Upr_padding-left);
  position: var(--mixin-GulBt9om7Upr_position);
  list-style-type: var(--mixin-GulBt9om7Upr_list-style-type);
  flex-column-gap: var(--mixin-GulBt9om7Upr_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-GohycE6YXx3z_display);
  flex-direction: var(--mixin-GohycE6YXx3z_flex-direction);
  align-items: var(--mixin-GohycE6YXx3z_align-items);
  justify-content: var(--mixin-GohycE6YXx3z_justify-content);
  list-style-position: var(--mixin-GohycE6YXx3z_list-style-position);
  padding-left: var(--mixin-GohycE6YXx3z_padding-left);
  position: var(--mixin-GohycE6YXx3z_position);
  list-style-type: var(--mixin-GohycE6YXx3z_list-style-type);
  flex-column-gap: var(--mixin-GohycE6YXx3z_flex-column-gap);
}
